# ==================================================
# API
# ==================================================

fastapi==0.139.0
uvicorn==0.51.0

# ==================================================
# DATA MANIPULATION
# ==================================================

pandas==2.3.3
numpy==2.4.6

# ==================================================
# MACHINE LEARNING
# ==================================================

scikit-learn==1.9.0
lightgbm==4.6.0
joblib==1.5.3

# ==================================================
# VALIDATION DES DONNEES
# ==================================================

pydantic==2.13.4

# ==================================================
# MLOPS
# ==================================================

mlflow==3.14.0

# ==================================================
# EXPLICABILITE
# ==================================================

shap

# ==================================================
# DATA DRIFT
# ==================================================

evidently

# ==================================================
# CLIENT API
# ==================================================

requests

# ==================================================
# TESTS
# ==================================================

pytest
httpx